<!-- <article class="productInfo">Each individual product description
  <div><img alt="sample" src="{{Product.img}}"></div>
  <div><img alt="sample" [src]="Product.img"></div>
  <p class="price">{{Product.price}}</p>
  <p class="productContent">{{Product.productContent}}</p>
  <p class="price">{{Product.status ? 'Còn Hàng' : 'Hết Hàng'}}</p>
  <input type="button" name="button" value="Buy" class="buyButton">
    <button class="btn btn-primary buyButton" (click)="changeStatus()">Mua Hàng</button>
</article> -->
